<%- include('layouts/header.ejs'); -%>
    <div class="wrapper">
        <div class="form">
            <div class="error-message">
                <h1>404</h1>
                <h4>Page not found</h4>
                <p>We couldn't find the page you were looking for</p>
                <a href="./">Go to Home Page</a>
            </div>
        </div>
    </div>

    <%- include("./layouts/footer.ejs") -%>